<!DOCTYPE html>
<html>
  <head>
    <title>profile</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<%- include partials/header %>
  	<form action="/cricket/score/update" method='post'>
  		<div class='teamSelection'>
        <% if(teams.length >= 2) { %>
          <select  class='select' name="team1">
            <% teams.forEach(team => { %>
              <option value="<%= team._id %>"><%= team.teamName %></option>
            <% }) %>
          </select>
          <select  class='select' name="team2">
            <% teams.forEach(team => { %>
              <option value="<%= team._id %>"><%= team.teamName %></option>
            <% }) %>
          </select>
          <input type="text" name='ground' placeholder='ground name'>
          <input type="text" name='numOvers' placeholder="overs limit">
          <select  class='select' name="tossWonBy">
            <% teams.forEach(team => { %>
              <option value="<%= team._id %>"><%= team.teamName %></option>
            <% }) %>
          </select>
          <select name='optedTo' placeholder="electing to bowl or bat">
            <option value="bat">bat</option>
            <option value="bowl">bowl</option>
          </select>
          <button type="submit" >submit</button>
        <% } else { %> 
          <select  class='select' name="team1">
            <option value="">create the team first</option>
          </select>
          <select  class='select' name="team2">
            <option value="">create the team first</option>
          </select>
          <input type="text" name='ground' placeholder='ground name'>
          <input type="text" name='numOvers' placeholder="overs limit">
          <button type="submit" >submit</button>
        <% }%>
  			
  		</div>
  	</form>
  </body>
</html>
